* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  width: 100%;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}